body {
     background: #2E2C2B;
}

#outerContainer {
    width: 1366px;
    background: #54493F;
    margin:auto;
    position:relative;  
    height: 875px;   
}

#header {
    text-align: left;
    padding: 10px 10px 10px 75px;
    color: #9A6C40;
    height: 65px;
    width: 1366px;
}

#header #nav {
    position: absolute;
    left: 150px;
    bottom: 0px;
}


#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
    margin: 0;
    padding: 0;
}

#nav li a:link, #nav li a:visited {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:block;
    color: #282828;
    text-decoration: none;
    padding: 0 15px 0 30px;
    line-height: 50px;
    background: url(../images/menu_home_dark.jpg) no-repeat left bottom;
    background-size: 80px 45px; 
    border:none;
}

#nav li a:hover, #nav li a:active {
    color: #282828;
    background-position: left top;
    /*background-size: 80px 45px; */
}

#nav ul li a.Current {
    margin-top: -5px;
    height: 30px;
    background: url(../images/menu_home_light.jpg) no-repeat;
    color: #aaa;
    line-height: 25px;
}


/*    
#nav {
    display: table;
    height: 87px;
    width: 100%;
}

#nav li {
    display: table-cell;
    height: 87px;
    width: 16.666666667%;  /* (100 / numItems)% */
   /* line-height: 87px;
    text-align: center;
    background: #ddd;
    border-right: 1px solid #fff;
    white-space: nowrap;
}​
 
@media (max-width: 767px) {
    #nav li {
        display: block;
        width: 100%;
    }
}
 */

   
div#content {
    background: url(../images/valleywest_east_darkish.jpg) no-repeat;
    background-size: 1130px 636px;
    position:absolute;
    width: 1146px;
    height: 645px;
    right: 0px;
    bottom: 30px;
}

#content h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #13100C;/*0B0A08*/
    margin: 0px 10px 0px 10px;
}

#content p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #13100C;
    margin: 10px 10px 0px 25px;
}

#content ol {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
}

div#aside {
    position: absolute;
    left: 10px;
    width: 190px; 
    height: 700px;
    border-color: #282828;
    border-right: solid;
}

#aside img.portrait {
    padding: 35px;
    position: absolute;
    bottom: 0px;
}

footer {
    color: #282828;
    position: absolute;
    bottom: 10px;
    width: 1366px;
    padding: 20px 10px 10px 10px;
}



div#aside {
    float: left;
    width: 200px;
    padding: 0;
    border-right: groove #ffffff 2px;
}

.endLine {
    clear:both
}